{% extends "core/base.html" %}
{% load static %}
{% block content %}

<div class="container emp-profile">
    <div class="row">
        <h4 class="text-muted p-1">Roman- A Criminal Detection Platform</h4>
        <img src="{% static 'img/logo.png'%}" alt="" width="250%">
        <div class="col-md-4">
            <div class="profile-head">
            </div>
        </div>
        <div class="col-md-5">
            <a href="{% url 'profiles' %}">
                <input type="submit" class="profile-edit-btn m-2 " name="btnAddMore"
                    value="View Criminal Profiles" /></a>

            <a target="_blank" class="scan" href="{% url 'details' %}">
                <input type="submit" class="profile-edit-btn m-2" name="btnAddMore"
                    value="Detect criminal in Camera" /></a>

            <a href="{% url 'audio_alerts' %}">
                <input type="submit" class="profile-edit-btn m-2 btn-warning" name="btnAddMore"
                    value="🎤 Detect by Audio" />
            </a>

            <a href="http://127.0.0.1:5000/dashboard">
                <input type="submit" class="profile-edit-btn m-2 btn-info" name="btnAddMore" value="Upload Video" />
            </a>
        </div>
    </div>
    <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab">
            History</a>
    </ul>

    <div class="tab-content" id="myTabContent">
        <br>
        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="contact-tab">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Profile ID</th>
                        <th scope="col">📍 Location</th>
                        <th scope="col">🏙️ City</th>
                        <!-- <th scope="col">📮 Pincode</th> -->
                        <th scope="col">Time of detection</th>
                    </tr>
                </thead>
                <tbody>
                    {% for face in scanned %}
                    <tr>
                        <th scope="row">*</th>
                        <td>{{face.last_face}}</td>
                        <td>
                            {% if face.latitude and face.longitude %}
                            <a href="https://www.google.com/maps?q={{face.latitude}},{{face.longitude}}" target="_blank"
                                class="text-info">
                                📍 View on Map
                            </a>
                            {% else %}
                            <span class="text-muted">No location</span>
                            {% endif %}
                        </td>
                        <td>{{face.city|default:"Unknown"}}</td>
                        <!-- <td>{{face.pincode|default:"Unknown"}}</td> -->
                        <td>{{face.formatted_date}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>

            <a href="{% url 'clear_history' %}"><button type="button" class="btn btn-outline-danger m-1">Clear
                    History</button></a>
        </div>
    </div>
</div>

<script>
    $(".scan").click(function () {
        var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' }
        $.ajax({
            url: "{% url 'scan' %}",
            data: {
            },
        });
    });
</script>

{% endblock content %}